.projectListItem {
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0.75rem;

  &:first-child {
    margin-top: 0;
  }

  &__name {
    font-weight: bold;
    cursor: pointer;
  }

  &__closeButton {
    outline: none;
  }

  &__editLink {
    font-size: 75%;
    margin-left: 0.5rem;
  }

  &__staffButton {
    margin: 0 1em 0 0;
    padding: 0.25em 0.8em 0.15em;
  }

  &__detailHidden {
    display: none;
  }

  &__detailVisible {
    display: block;
  }

  &__title {
    position: relative;
    padding-left: 2rem;
    margin-right: 2rem;
  }

  &__toggleDetailButton {
    position: absolute;
    top: -8px;
    left: 0;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    margin: 0 0.5rem 0 0;
    padding: 0 0.5rem 0.25rem 0;
    vertical-align: bottom;
    outline: none;
    cursor: pointer;
  }
}
