.projectStaffingDetail {
  margin-top: 1px;

  &__title {
    position: relative;
    padding: 5px 0 5px 20px;
    background-color: #e6e6e6;
    cursor: pointer;

    &:hover {
      color: #1779ba;
    }
  }

  &__visibilityIndicator {
    display: inline-block;
    min-width: 20px;
  }

  &__details {
    display: none;

    &--visible {
      display: block;
      margin: 10px 0 10px 40px;
      list-style: inside;
    }
  }

  &__removeStaffingLink {
    margin-left: 1rem;
    font-size: 80%;
    cursor: pointer;
  }
}
