.react-tabs {
  margin-top: 20px;
  border: 1px solid #e6e6e6;

  &__tab-list {
    border-bottom: 1px solid #e6e6e6;
    margin: 0;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 0.25em 1em;
    cursor: pointer;
  }

  &__tab--selected {
    color: #1779ba;
    background-color: #e6e6e6;
  }

  &__tab:focus {
    outline: none;
  }

  &__tab-panel {
    display: none;
  }

  &__tab-panel--selected {
    display: block;
    padding: 15px;
  }
}
