.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #1779ba;
  background-color: #fff;
  padding: 0.65rem 0;
  z-index: 1;
}

.navigation > li {
  padding-left: 1.5rem;
}

.navigation > li:first-child {
  padding-left: 0;
}
